@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
// Color variables -------
$color-bg = #084c61
$color-footer = #d64e33
$color-jumbo = #363537
$color-font = #f0f0c9
$color-start = #2fbf71
$color-stop = #f18701
$color-reset = #bc2318
$color-custom = #d64e33

// Radial Progress variables -------
$circle-background = #937b63
$circle-color = #d64e33
$circle-size = 310px
$transition-length = 0.5s
$inset-size = 270px
$inset-color = #937b63
$circle-size-min = 230px
$inset-size-min = 200px

$font-title = 'Baloo Bhaina', cursive


html {
    min-height: 100%
    position: relative
}

body {
    background-color: $color-bg
    margin-bottom: 50px
}
// Jumbo settings --------
.block {
    background-color: $color-jumbo
    margin-top: 10px
    padding-top: 25px

    .block__title {
        color: $color-font
        font-family: $font-title
        font-size: 80px
        margin-top: 2px
        text-align: center
    }

    .block__time {
        color: $color-font
        font-family: $font-title
        margin-top: auto
        line-height: $inset-size
        text-align: center
        .time__min {
            font-size: 100px
        }
        .time__sec {
            font-size: 50px
        }
    }

    @media screen and (max-width: 480px) {
        .block__title {
            font-size: 40px
        }
        .block__time {
            line-height: $inset-size-min
            .time__min {
                font-size: 70px
            }
            .time__sec {
                font-size: 35px
            }
        }
    }

    // Main button settings -------
    .btn__start,
    .btn__stop,
    .btn__reset {
        color: $color-font
        font-size: 20px
        padding: 15px 15px        
    }
    
    @media screen and (max-width: 480px) {
        .btn__start,
        .btn__stop,
        .btn__reset {
            font-size: 15px        
        }
    }

    .btn__start {
        background-color: $color-start
    }

    .btn__stop {
        background-color: $color-stop
    }

    .btn__reset {
        background-color: $color-reset
    }

}

// Custom time block ---------
.block__custom {
    color: $color-font
    margin-top: 20px
    text-align: center
}

.custom__title {
    font-family: $font-title
    font-size: 40px
}

// Custom time values --------
.input__pomo,
.input__pause {
    font-family: $font-title
    font-size: 34px
    margin: 0 10px
    text-align: center
}

@media screen and (max-width: 480px) {
    .custom__title {
        font-size: 26px
    }

    .input__pomo,
    .input__pause {
        font-size: 22px
        margin: 0 5px
    }
}

// Buttons to add or decrease custom time ----------
.custom__btn {
    background-color: $color-custom
    border-radius: 10%
    font-size: 30px
    padding: 0 15px

    &:hover {
        color: $color-font
        background-color: lighten($color-custom, 30%)
    }
    &:active,
    &:focus {
        color: $color-font
        background-color: darken($color-custom, 30%)
    }
}

@media screen and (max-width: 480px) {
    .custom__btn {
        width: 30px
        font-size: 20px
        padding: 0 7px
        
    }
}

// Radial Progress Bar --------
.radial-progress {

    background-color: $circle-background
    border-radius: 50%
    height: $circle-size
    width: $circle-size
    margin: 0 auto 20px auto

    .circle {
        .mask, .fill {
            border-radius: 50%
            height: $circle-size
            position: absolute
            width: $circle-size
        }

        .fill {
            background-color: $circle-color;
            transition: -webkit-transform $transition-length;
            transition: -ms-transform $transition-length;
            transition: transform $transition-length;
            -webkit-backface-visibility: hidden
        }

        .mask {
            clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
            .fill {
                clip: rect(0px, $circle-size/2, $circle-size, 0px);                
            }
        }
    }
    .inset {
        width: $inset-size
        height: $inset-size
        position: absolute
        margin-left: (($circle-size - $inset-size) / 2)
        margin-top: (($circle-size - $inset-size) / 2)
        background-color: $color-jumbo
        border-radius: 50%
    }

} // endof .radial-progress

@media screen and (max-width: 480px) {
    
    .radial-progress {

        height: $circle-size-min
        width: $circle-size-min

        .circle {
            .mask, .fill {
                height: $circle-size-min
                width: $circle-size-min
            }

            .fill {
                background-color: $circle-color;
                transition: -webkit-transform $transition-length;
                transition: -ms-transform $transition-length;
                transition: transform $transition-length;
            }

            .mask {
                clip: rect(0px, $circle-size-min, $circle-size-min, $circle-size-min/2);
                .fill {
                    clip: rect(0px, $circle-size-min/2, $circle-size-min, 0px);                
                }
            }
        }
        .inset {
            background-color: $color-jumbo
            border-radius: 50%
            height: $inset-size-min
            position: absolute
            margin-left: (($circle-size-min - $inset-size-min) / 2)
            margin-top: (($circle-size-min - $inset-size-min) / 2)
            width: $inset-size-min
        }
    }
} // endof media

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.audio {
    display: none
}


// FOOTER Section ----------/
.footer {
    background-color: $color-footer
    bottom: 0
    width: 100%
    position: absolute

    .footer__text {
        color: $color-font
        margin: 0 auto
        padding: 15px 15px
        text-align: center
    }
}