@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");
html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: #05668d;
  margin-bottom: 50px;
}
.block {
  background-color: #333;
  margin-top: 20px;
}
.block .block__title {
  color: #f0f0c9;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 80px;
  text-align: center;
}
.block .block__time {
  color: #f0f0c9;
  font-size: 120px;
  font-family: 'Baloo Bhaina', cursive;
  margin-top: auto;
  line-height: 330px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .block .block__title {
    font-size: 50px;
  }
  .block .block__time {
    font-size: 70px;
    line-height: 200px;
  }
}
.block .btn__start,
.block .btn__stop,
.block .btn__reset {
  color: #f0f0c9;
  font-size: 20px;
  padding: 15px 15px;
}
@media screen and (max-width: 480px) {
  .block .btn__start,
  .block .btn__stop,
  .block .btn__reset {
    font-size: 15px;
  }
}
.block .btn__start {
  background-color: #4cb944;
}
.block .btn__stop {
  background-color: #f58a07;
}
.block .btn__reset {
  background-color: #5390d1;
}
.radial-progress {
  background-color: #f0f0c9;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin: 0 auto 40px auto;
}
.radial-progress .circle .mask,
.radial-progress .circle .fill {
  border-radius: 50%;
  height: 400px;
  position: absolute;
  width: 400px;
}
.radial-progress .circle .fill {
  background-color: #ff6347;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
  -webkit-backface-visibility: hidden;
}
.radial-progress .circle .mask {
  clip: rect(0px, 400px, 400px, 200px);
}
.radial-progress .circle .mask .fill {
  clip: rect(0px, 200px, 400px, 0px);
}
.radial-progress .inset {
  width: 330px;
  height: 330px;
  position: absolute;
  margin-left: 35px;
  margin-top: 35px;
  background-color: #333;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .radial-progress {
    height: 250px;
    width: 250px;
  }
  .radial-progress .circle .mask,
  .radial-progress .circle .fill {
    height: 250px;
    width: 250px;
  }
  .radial-progress .circle .fill {
    background-color: #ff6347;
    transition: -webkit-transform 1s;
    transition: -ms-transform 1s;
    transition: transform 1s;
  }
  .radial-progress .circle .mask {
    clip: rect(0px, 250px, 250px, 125px);
  }
  .radial-progress .circle .mask .fill {
    clip: rect(0px, 125px, 250px, 0px);
  }
  .radial-progress .inset {
    background-color: #333;
    border-radius: 50%;
    height: 200px;
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
    width: 200px;
  }
}
.audio {
  display: none;
}
.footer {
  background-color: #f58a07;
  bottom: 0;
  width: 100%;
  position: absolute;
}
.footer .footer__text {
  color: #f0f0c9;
  margin: 0 auto;
  padding: 15px 15px;
  text-align: center;
}
